html {
overflow: hidden;
    box-sizing: border-box;

}
*, *:before, *:after {
    box-sizing: inherit;
}
html, body {
    height: 100%;
}
canvas {
    display: block;
}
body {
    margin: 0;
}
#unity-container {
    width: 100%;
    height: 100%;
}
#unity-canvas {
    width: 100%;
    height: 100%;
    background: #000000;
}
#loading-cover {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}
#unity-loading-bar {
top: 80%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#unity-logo {
              display: block;
		width: max-width: 100vw;
        height: 100vh;
}
#unity-logo img {
              display: block;
		width: max-width: 100vw;
        height: 100vh;
}
#unity-progress-bar-empty {
    position: absolute;
    top: 68.5%;
    width: 30vh;
    height: 10px;
    margin: 0px 0px 0px 0px;
    text-align: left;
    border: 1px solid white;
    padding: 2px;
}
#unity-progress-bar-full {
    width: 0%;
    height: 100%;
    background: white;
}
.light #unity-progress-bar-empty {
    border-color: black;
}
.light #unity-progress-bar-full {
    background: black;
}

